<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h2>Hello and wellcome </h2>
    <input type="text" name="text" id="text">
    <input type="submit" value="send">

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket=io();
        socket.on('message',(data)=>{
            var meg=document.querySelector('body');
            var messages=`<h2>${data}</h2>`;
            meg.insertAdjacentHTML('afterbegin',messages);
        })
        var message=document.querySelector('#text');
        
        var send=document.querySelector('input[type="submit"]');
        send.addEventListener('click',()=>{
            console.log(socket.id);
            socket.send(message.value)
            message.value=''
        })
        
    </script>
</body>
</html>